


.header 
{
    text-align: center;
    background-image: url(../../assets/images/pattern-rings.svg), url(../../assets/images/pattern-circle.svg), url(../../assets/images/image-profile-mobile.webp);
    background-size:530px 129px, 129px 129px, 174px 384px;
    background-position:top 8em left -21em, center right -4em, top center;
    background-repeat: no-repeat;

    padding: 1.25em 4.2% 5em;
}


.masthead
{
    &__logo
    {
        margin-bottom: .83em;
    }

   
}


.hero {
    margin-top: 20em;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

    &__title 
    {
        @extend .heading-xl;

        &-highlight 
        {
            border-bottom: solid 4px $color-Green;
        }
    }
    

   
}




@media (min-width: 768px)
{
    .header 
    {
        padding: 1.61em 3.9% 3.33em;
        text-align: left;
        background-image: url(../../assets/images/pattern-rings.svg), url(../../assets/images/pattern-circle.svg), url(../../assets/images/image-profile-tablet.webp);
        background-size:530px 129px, 129px 129px, 322px 600px;
        background-position:top 4em left -13em, bottom 4em right -4em, top right;
    }

    .masthead {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5em;

        &__logo
        {
            margin-bottom: 0;
        }
    }

    .hero {
        margin-top: 0;
        margin-left: 0;
    }
    
}


@media (min-width:1440px)
{
    .header 
    {
        padding: 2.16em 11.4% 5.7em;
        background-image: url(../../assets/images/pattern-rings.svg), url(../../assets/images/pattern-circle.svg), url(../../assets/images/image-profile-desktop.webp);
        background-size:530px 129px, 129px 129px, 445px 720px;
        background-position:top 7em left -4em, bottom 7em right 35%, top right 11.4%;
    }
    .hero {
        max-width: 706px;
    }
}