body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  background-color: #151515;
  color: white;
  overflow-x: hidden;
}

p {
  line-height: 1.5;
  color: #d9d9d9;
}

* {
  box-sizing: border-box;
}

* :first-child {
  margin-top: 0;
}

* :last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}
.heading-xl, .contact__title, .projects__title, .hero__title {
  font-size: 2.5rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.social {
  margin-top: 0;
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 1.56em;
}
.social__item {
  cursor: pointer;
}
.social__icon path {
  transition: all 300ms;
}
.social__item:hover .social__icon path {
  fill: #4EE1A0;
}

.btn {
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.29px;
  border-bottom: solid 2px #4EE1A0;
  padding-bottom: 0.625em;
  transition: color 300ms;
  cursor: pointer;
  position: relative;
}
.btn:hover {
  color: #4EE1A0;
}

@media (min-width: 768px) {
  .heading-xl, .contact__title, .projects__title, .hero__title {
    font-size: 4rem;
  }
  .logo {
    font-size: 1.77rem;
  }
}
@media (min-width: 1440px) {
  .heading-xl, .contact__title, .projects__title, .hero__title {
    font-size: 4.88rem;
  }
}
.header {
  text-align: center;
  background-image: url(../../assets/images/pattern-rings.svg), url(../../assets/images/pattern-circle.svg), url(../../assets/images/image-profile-mobile.webp);
  background-size: 530px 129px, 129px 129px, 174px 384px;
  background-position: top 8em left -21em, center right -4em, top center;
  background-repeat: no-repeat;
  padding: 1.25em 4.2% 5em;
}

.masthead__logo {
  margin-bottom: 0.83em;
}

.hero {
  margin-top: 20em;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.hero__title-highlight {
  border-bottom: solid 4px #4EE1A0;
}

@media (min-width: 768px) {
  .header {
    padding: 1.61em 3.9% 3.33em;
    text-align: left;
    background-image: url(../../assets/images/pattern-rings.svg), url(../../assets/images/pattern-circle.svg), url(../../assets/images/image-profile-tablet.webp);
    background-size: 530px 129px, 129px 129px, 322px 600px;
    background-position: top 4em left -13em, bottom 4em right -4em, top right;
  }
  .masthead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5em;
  }
  .masthead__logo {
    margin-bottom: 0;
  }
  .hero {
    margin-top: 0;
    margin-left: 0;
  }
}
@media (min-width: 1440px) {
  .header {
    padding: 2.16em 11.4% 5.7em;
    background-image: url(../../assets/images/pattern-rings.svg), url(../../assets/images/pattern-circle.svg), url(../../assets/images/image-profile-desktop.webp);
    background-size: 530px 129px, 129px 129px, 445px 720px;
    background-position: top 7em left -4em, bottom 7em right 35%, top right 11.4%;
  }
  .hero {
    max-width: 706px;
  }
}
.main {
  padding: 0 4.2%;
}

.skills {
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  padding: 2.5em 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  position: relative;
}
.skills__img-ring {
  position: absolute;
  bottom: 0px;
  right: 0px;
  transform: translate(60%, 50%);
}

.skill__title {
  font-size: 2rem;
  margin-bottom: 0;
}
.skill__body {
  margin-top: 0;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  padding: 5em 0;
}
.projects__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5em;
}
.projects__title {
  margin-bottom: 0;
}
.projects__grid {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.33em;
  row-gap: 3.33em;
  justify-content: space-between;
}

.project {
  max-width: 540px;
  flex-basis: 343px;
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
}
.project__img {
  display: block;
  width: 100%;
}
.project__title {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 0.3em;
}
.project__tags {
  display: flex;
  align-items: center;
  gap: 1.125em;
  margin-bottom: 1.25em;
}
.project__tags > * {
  margin-bottom: 0;
  margin-top: 0;
}
.project__opts {
  display: flex;
  gap: 1.87em;
}

@media (min-width: 768px) {
  .main {
    padding: 0 3.9%;
  }
  .skills {
    padding: 2.88em 0;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 345px));
    column-gap: 0.38em;
    row-gap: 2.88em;
    border-bottom: none;
  }
  .skill {
    width: fit-content;
  }
  .skill__title {
    font-size: 2.66rem;
  }
  .project {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1440px) {
  .main {
    padding: 0 11.4%;
  }
  .skills {
    padding: 2.88em 0 5.55em;
    row-gap: 2.66em;
    column-gap: 1.66em;
  }
  .skills__img-ring {
    right: 0px;
    transform: translate(70%, 0%);
  }
  .project {
    flex-basis: 540px;
    max-width: 700px;
    display: grid;
    grid-template-rows: auto auto auto auto;
    cursor: pointer;
  }
  .project__img-container {
    position: relative;
    z-index: 0;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .project__img-container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0%;
    transition: opacity 300ms;
  }
  .project__opts {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;
    gap: 2.66em;
    opacity: 0%;
    transition: opacity 300ms;
  }
  .project:hover .project__opts {
    opacity: 100%;
  }
  .project:hover .project__img-container::after {
    opacity: 100%;
  }
}
.footer {
  background-color: #242424;
  padding: 3.75em 4.2%;
  text-align: center;
  background-image: url(../../assets/images/pattern-rings.svg);
  background-repeat: no-repeat;
  background-size: 530px 129px;
  background-position: bottom 18em left -20em;
}
.footer__btm {
  padding-top: 2.5em;
}

.contact {
  border-bottom: 1px solid white;
  padding-bottom: 5.4em;
  display: flex;
  flex-direction: column;
  gap: 3.125em;
}
.contact__content {
  max-width: 445px;
  margin-left: auto;
  margin-right: auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
  max-width: 445px;
  margin-left: auto;
  margin-right: auto;
}
.form__input {
  color: white;
  width: 100%;
  border: none;
  font-family: inherit;
  background-color: transparent;
  border-bottom: solid 1px white;
  padding: 1em 1.5em;
}
.form__input:focus {
  outline: none;
}
.form__input-error {
  color: #FF6F5B;
  font-size: 12px;
  text-align: right;
  display: none;
  position: absolute;
  right: 0px;
}
.form__input-error-icon {
  width: 24px;
  height: 24px;
  border: solid 1px #FF6F5B;
  border-radius: 50%;
  color: #FF6F5B;
  position: absolute;
  top: 0px;
  right: 0px;
  justify-content: center;
  align-items: center;
  display: none;
}
.form__input-container {
  position: relative;
}
.form__input-container.invalid .form__input {
  border-color: #FF6F5B;
}
.form__input-container.valid .form__input {
  border-color: #4EE1A0;
}
.form__input-container.invalid .form__input-error {
  display: block;
}
.form__input-container.invalid .form__input-error-icon {
  display: flex;
}
.form__input-msg {
  min-height: 100px;
}
.form__btn {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

@media (min-width: 768px) {
  .footer {
    padding: 3.33em 3.9% 2.22em;
    background-position: bottom 15em left -20em;
  }
  .footer__btm {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer__btm > * {
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .footer {
    padding: 4.66em 11.4% 5.11em;
    background-position: bottom 15em left -20em;
  }
  .contact {
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: start;
  }
  .contact__content {
    margin-left: 0;
  }
  .form {
    margin-right: 0;
  }
}

/*# sourceMappingURL=main.css.map */
